name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@master
        with:
          github_user_name: souravmahato2004
          svg_out_path: dist/github-contribution-grid-snake.svg

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
